<img src="../../../../assets/img/copilot_white.png" height="45px" width="auto" />
<mat-card class="login-card">
	<mat-card-header>
		<mat-card-title>
			Authenticate
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="form">
			<mat-form-field appearance="outline" color="accent">
				<mat-label>Email</mat-label>
				<input matInput="email" [formControlName]="'email'" /> </mat-form-field
			><br />
			<mat-form-field appearance="outline" color="accent">
				<mat-label>Password</mat-label>
				<input type="password" matInput [formControlName]="'password'" />
			</mat-form-field>
			<mat-form-field *ngIf="isLogin === false" appearance="outline" color="accent">
				<mat-label>Retype Password</mat-label>
				<input type="password" matInput [formControlName]="'retypedPassword'" />
			</mat-form-field>
		</form>
	</mat-card-content>
	<mat-card-actions align="end">
		<button mat-raised-button color="accent" (click)="signIn()" [disabled]="form?.invalid">
			{{ isLogin ? 'Sign In' : 'Create Account' }}
		</button>
		<button mat-raised-button color="accent" (click)="googleSignIn()">
			{{ isLogin ? 'Google Login' : 'Use Google' }}
		</button>
	</mat-card-actions>
</mat-card>
