// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-black: (
	50: #000000,
	contrast: (
		50: white,
	),
);

$mat-white: (
	50: white,
	contrast: (
		50: #000000,
	),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$copilot-primary: mat-palette($mat-black, 50);
$copilot-accent: mat-palette($mat-white, 50);

// The warn palette is optional (defaults to red).
$copilot-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$copilot-theme: mat-dark-theme($copilot-primary, $copilot-accent, $copilot-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($copilot-theme);

@mixin black-theme($theme) {
	$black: map-get($theme, primary);
	$white: map-get($theme, accent);

	mat-card {
		background-color: mat-color($black) !important;
		// box-shadow: 0px 0px 9px 0px rgb(255,255,255) !important;
		border: 1px white solid;
	}

	.mat-card-header-text {
		margin: 0 !important;
	}
}

@include black-theme($copilot-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
	min-height: calc(100vh);
	width: 100%;
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
	margin: 0;
	font-family: ABeeZee, 'Helvetica Neue', sans-serif;
}

.mat-app-background {
	background-color: #000000;
}

router-outlet {
	padding: 16px;
}
